@{
    ViewData["Title"] = "Управление задачами";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/materialDesign/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/lib/vuetify/vuetify.min.css" />
}

@section Scripts {
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/vuetify/vuetify.min.js"></script>

    <script src="~/bundles/js/app.bundle.js" asp-append-version="true"></script>
}

<div id="app"></div>